/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(233, 233, 233);
}

body {
  background-color: rgb(0, 0, 0);
  font-family: sans-serif;
}

/* header */

.container-header {
  display: flex;
}

img {
  width: 5.3rem;
}

#user img {
  width: 1em;
  margin: 0 3px;
}

#lebron {
  border-radius: 50%;
}

nav {
  margin-top: 1.5rem;
}

a {
  margin: 0.6em;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#user {
  position: absolute;
  right: 2em;
  top: 1em;
}

/* main big banner */

.haut-bandeau {
  background-image: url(images/The-Great-Hack-Netflix.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

#haut-text {
  padding: 1em 4em;
}

#haut-text h1,
p,
button {
  margin: 0.5em 0.5em;
}

#lecture {
  color: rgb(0, 0, 0);
  padding: 0.3em 1.5em;
  font-weight: 700;
}

#lecture:hover {
  background-color: rgba(204, 204, 204, 0.562);
}

#maliste {
  background-color: rgba(255, 255, 255, 0.329);
  color: rgb(255, 255, 255);
  padding: 0.3em 1.5em;
}

#maliste:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

#maliste i {
  color: rgba(255, 255, 255, 0.774);
}

button {
  border-style: none;
  border-radius: 3px;
}

button i {
  color: black;
  padding: 0 0.5em;
}

/* first small banner */

.middle-bandeau {
  margin: 0.5em 0;
}

.middle-bandeau h2,
.bas-bandeau h2 {
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.row-films {
  display: flex;
  justify-content: space-between;
}

.row-films img {
  width: 15rem;
}

/* informations in footer */

footer {
  background-color: rgb(34, 34, 34);
  font-size: 0.8rem;
}

.wrapper-footer {
  display: flex;
  justify-content: space-around;
}

.contenu {
  padding: 1rem 1rem 0 1rem;
}

.contenu ul {
  list-style: none;
}

footer h4 {
  text-align: center;
  padding: 1rem;
}
